[submodule "vendor/parser-toolkit"]
	path = vendor/parser-toolkit
	url = https://github.com/MasterQ32/parser-toolkit
[submodule "vendor/zig-libgc"]
	path = vendor/zig-libgc
	url = https://github.com/mitchellh/zig-libgc
