[package]
name = "zement"
version = "0.1.0"
edition = "2024"

[dependencies.icu_capi]
git = "https://github.com/unicode-org/icu4x.git"
rev = "472e602aeac54f1aa5a58e889cb93f075f565498"
default-features = false
features = ["compiled_data", "default_components", "experimental", "std"]

[dependencies.temporal_capi]
git = "https://github.com/boa-dev/temporal.git"
rev = "9f17b3c5be0e85c03e2ac656877cb8264c73c07a"
features = ["compiled_data"]

# icu_capi points to a git version of diplomat between releases, which causes duplicate symbol
# linker errors. Force it to use the same version as temporal_capi.
[patch.'https://github.com/rust-diplomat/diplomat.git']
diplomat = "0.12.0"
diplomat-runtime = "0.12.0"

[features]
intl = []
temporal = []

[lib]
crate-type = ["staticlib"]

[profile.release]
strip = true
lto = true
panic = "abort"
