[package]
name = "zement"
version = "0.1.0"
edition = "2024"

[dependencies.icu_capi]
git = "https://github.com/unicode-org/icu4x.git"
rev = "784404dc954ad5df62f23302acd627a129659548"
default-features = false
features = ["compiled_data", "default_components", "experimental", "std"]

[dependencies.temporal_capi]
git = "https://github.com/boa-dev/temporal.git"
rev = "ea889ded3ed6974ef260c12b40a72705531159f9"
features = ["compiled_data"]

# icu_capi points to a git version of diplomat between releases, which causes duplicate symbol
# linker errors. Force it to use the same version as temporal_capi.
[patch.'https://github.com/rust-diplomat/diplomat.git']
diplomat = "0.12.0"
diplomat-runtime = "0.12.0"

[features]
intl = []
temporal = []

[lib]
crate-type = ["staticlib"]

[profile.release]
strip = true
lto = true
panic = "abort"
