[package]
name = "zement"
version = "0.1.0"
edition = "2024"

[dependencies.icu_capi]
git = "https://github.com/unicode-org/icu4x.git"
rev = "ed457c605c06a07101b20c68d0b1ca20656ee5b5"
default-features = false
features = ["compiled_data", "default_components", "experimental", "std"]

[dependencies.temporal_capi]
git = "https://github.com/boa-dev/temporal.git"
rev = "f2c5efe1019ad480d45c7a30cd7fb78a2cefb823"
features = ["compiled_data"]

[features]
intl = []
temporal = []

[lib]
crate-type = ["staticlib"]

[profile.release]
strip = true
lto = true
panic = "abort"
