[package]
name = "zement"
version = "0.1.0"
edition = "2024"

[dependencies.icu_capi]
git = "https://github.com/unicode-org/icu4x.git"
rev = "692ed203b85a5c62c8141f2199093b412aec35b2"
default-features = false
features = ["compiled_data", "default_components", "experimental", "std"]

[dependencies.temporal_capi]
git = "https://github.com/boa-dev/temporal.git"
rev = "c0405f6c3da466750fda35204cd05a280ece189c"
features = ["compiled_data"]

# icu_capi points to a git version of diplomat between releases, which causes duplicate symbol
# linker errors. Force it to use the same version as temporal_capi.
[patch.'https://github.com/rust-diplomat/diplomat.git']
diplomat = "0.12.0"
diplomat-runtime = "0.12.0"

[features]
intl = []
temporal = []

[lib]
crate-type = ["staticlib"]

[profile.release]
strip = true
lto = true
panic = "abort"
