[package]
name = "zement"
version = "0.1.0"
edition = "2024"

# This is pinned to the same commit as the icu4x dependency in icu4zig, which provides the C
# headers for Zig.
[dependencies.icu_capi]
git = "https://github.com/unicode-org/icu4x.git"
rev = "ae3223531c81c63fcc3e739212e3273a92eaf412"
default-features = false
features = ["compiled_data", "default_components", "experimental", "std"]

# This is pinned to the same commit as the temporal_rs dependency in the top-level build.zig.zon,
# which provides the C headers for Zig.
[dependencies.temporal_capi]
git = "https://github.com/boa-dev/temporal.git"
rev = "c0356884b9d7a084682b71113ab99b7392b0b568"
features = ["compiled_data"]

# icu_capi points to a git version of diplomat between releases, which causes duplicate symbol
# linker errors. Force it to use the same version as temporal_capi.
[patch.'https://github.com/rust-diplomat/diplomat.git']
diplomat = "0.13.0"
diplomat-runtime = "0.13.0"

[features]
intl = []
temporal = []

[lib]
crate-type = ["staticlib"]

[profile.release]
strip = true
lto = true
panic = "abort"
